
@model ShoppingCartViewModel
@using ShoppingCart

<h2 class="text-center text-secondary font-weight-bold">Your shopping cart</h2>
<h4 class=" mb-3 text-center text-secondary">Here are the delicious drinks in your shopping cart.</h4>
<table class="table table-bordered  table-hover mx-auto w-75 pt-5">
    <thead>
        <tr class="table-info">
            <th class="text-center"></th>
            <th class="text-center">Selected amount</th>
            <th class="text-center">Drink</th>
            <th class="text-center">Price</th>
            <th class="text-center">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">
                    <a class="btn btn-outline-danger"
                       asp-action="RemoveFromShoppingCart"
                       asp-route-drinkId="@line.Drink.DrinkId">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </td>
                <td class="text-center">@line.Amount</td>
                <td class="text-center">@line.Drink.Name</td>
                <td class="text-center">@line.Drink.Price.ToString("c")</td>
                <td class="text-center">
                    @((line.Amount * line.Drink.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="font-weight-bold">
        <tr class="font-weight-bold">
            <td colspan="3" class="text-center">Total:</td>
            <td  class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>



<div class="text-center mt-2">
    <a class="btn btn-lg btn-info @(Model.ShoppingCart.ShoppingCartItems.Count == 0 ? "disabled" : "")" asp-controller="Order" asp-action="Checkout">Order now!</a>
</div>


